/* Pale red and pale blue theme accents */
$primary: #9D4EDD; /* purple */
$secondary: #7E57C2; /* another purple*/
$success: #9fd5b3; /* mint */
$info: #a9cce3; /* sky */
$warning: #f8c471; /* warm amber */
$danger: #e57373; /* soft red */
$navbar-bg: $secondary;
$navbar-fg: #ffffff;
$link-color: $secondary;
$link-hover-color: darken($secondary, 10%);
$footer-bg: $primary;
$footer-fg: #ffffff;

/*-- scss:defaults --*/

body {
  background: 	#F3E5F5	;
}

/*-- scss:rules --*/

